body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
    height: 75px; 
    position: absolute; 
    width: 100%;
    background: linear-gradient(90deg, rgb(6, 5, 84) 0%, rgb(13, 47, 144) 80%); 
}
.hero {
    width: 100%;
    height: 100vh;
    background: url("./images/hero1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer { 
    width: 100%;
    height: 100vh;
    background: rgba(17, 34, 122, 0.50);
    display: grid;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px;
    gap: 20px;
}

.button-primary-ard {
  width: 244px;
  height: 50px;
  border: 1px solid #01136E;
  color: #01136E;
  background: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-secondary-ard {
  width: 244px;
  height: 50px;
  color: white;
  background: #FF0000;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary-ard:hover, .button-secondary-ard:hover{
  cursor: pointer;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    color: #01136E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: -50px;
}

/* .estilo1 {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: -50px;
} */



  .welcome {
      font-size: 60px;
    }


    /* codigo para ver si logro mover el h1 mas arriba */
    /* Si no le pones !important no aceptaras lo que le pongas */

/* Un responsive para pantallas 1024pixeles */


/* fin del responsive  */

/* este lo hago para que entrada internacionales no suba tanto */


    /* cierre de ese codigo */




/* este css sobre el selector no esta activo actualmente por que el elemento en el html esta comentado */
/* .selector {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: -50px;
} */


@media only screen and (max-width: 600px) {
    h1 {
      font-size: 25px !important;
      /* cosas que si no funciona puedo borrar esto */
      /* esto lo estoy utilizando para mover el h1 un poco mas arriba */
      margin-top: -80px !important;
      /* en caso de que se dañe algo */
    }

    /* otro intento de ver que funciona */
.sub-title {
  margin-top: 100px;
  margin-bottom: 0px;
}
/* otro intento de ver que funciona */
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }  
    .buttons a {
      width: 244px !important;
    }
}

/* intento del responsive no se rompa verticalmente */
@media only screen and (max-height: 1100px) {
  h1 {
    font-size: 20px !important;
    margin-top: 100px !important;
  }
/* en caso recordar que puedo borrar por aqui */


  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }  
  .buttons button {
    width: 244px !important;
  }
}


/* @media screen and (min-width: 768px) {
  .despacho::before{
    content: "\A";
    white-space: pre;
  }
} */

/* @media screen and (min-width: 430px) {
  .buttons {
    width: 200px;
  }
} */

@media screen and (max-width: 629px) {
    .welcome {
      font-size: 55px;
    }
    .sub-title {
        font-size: 20px;
    }
  }

  @media screen and (max-width: 380px) {
    .welcome {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 700px) {
    .lang {
      display: flex;
      justify-content: end;
      margin-right: 15px;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 700px) {
    .selector {
      display: flex;
      justify-content: end;
      margin-right: 15px;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 743px) {
    .hero {
      background: url(images/mobilecarroybarco.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  

  
