nav {
    height: 75px; 
    padding: 5px; 
    position: absolute; 
    width: 100%;
    background: linear-gradient(90deg, rgb(6, 5, 84) 0%, rgb(13, 47, 144) 80%); 
}
.hero {
    width: 100%;
    height: 100vh;
    background: url("./images/hero1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer { 
    width: 100%;
    height: 100vh;
    background: rgba(17, 34, 122, 0.50);
    display: grid;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    color: #01136E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: -50px;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px !important;
    }
}


@media screen and (min-width: 629px) {
    .bienvenido {
      font-size: 60px;
    }
    .entrada {
        font-size: 30px;
    }
  }

  @media screen and (min-width: 441px) {
    .bienvenido {
      font-size: 50px;
    }
    .entrada {
        font-size: 25px;
    }
    
  }

  @media screen and (max-width: 300px) {
    .bienvenido {
        display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .selector {
      display: flex;
      justify-content: end;
      margin-right: 15px;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 743px) {
    .hero {
      width: 100%;
      height: 100vh;
      background: url(images/mobilecarroybarco.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
  